<div class="header">
  <%= link_to image_tag('logo/real-lg.png'), root_path, class: "header-logo" %>
  <a href="#" class="header-user"><i class="far fa-user"></i></a>
  <span class="header-heart"><i class="far fa-heart"></i></span>
  <span class="header-search"><i class="fas fa-search"></i></span>
</div>
  <div id="navArea">
    <nav>
      <div class="inner">
        <ul>
          <li><%= link_to "カテゴリーから探す", root_path %></li>
          <li><%= link_to "新規投稿", new_item_path %></li>
          <li><%= link_to "ログイン", root_path %></li>
          <li><%= link_to "マイページ", root_path %></li>
          <li><%= link_to "トップに戻る", root_path %></li>
        </ul>
      </div>
    </nav>
    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="mask"></div>
  </div>
