<div class="wrapper">
  <%= render "header" %>
    <div class="main">
      <%= image_tag @item.image.url, class: 'hoge' %>
        <ul>
          <li>
            <%= link_to '編集', "/items/#{@item.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/items/#{@item.id}", method: :delete, data: { confirm: '削除しますか' } %>
          </li>
        </ul>
    </div>
  <%= render "footer" %>
</div>
